@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
    .home { font-family: 'Inter var', sans-serif; }
}

.home {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #e2e8f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h1 {
  font-size: 4rem;
  padding: 2rem 0;
}

.home p {
  padding: 0 2rem;
  text-align: center;
}

.home form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.home input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(173, 173, 173, 0.584);
}

.continue-button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.continue-button:disabled {
  pointer-events: none;
}

.continue-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.continue-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.home .disclaimer {
  padding: 5rem 0;
  background-color: #334155;
  color: #f3f4f6;
  width: 100%;
}